:root {
  --day-bg-color: #F4F5F9;
  --today-color: #FEFAF8;
  --today-day-bg-color: #F15A27;
  --today-cell-bg-color: #FEFEF4;
}
.rbc-calendar {
  font-family: 'Lato', sans-serif;
}
.rbc-toolbar {
  margin-bottom: 25px;
}
.rbc-toolbar-label {
  font-size: 30px;
}
.rbc-header {
  font-size: 18px;
}
.rbc-date-cell {
  height: 33px;
  padding-top: 7px;
  padding-left: 2px;
  text-align: left;
}
.rbc-day-bg {
  background-color: var(--day-bg-color);
}
.rbc-date-cell.rbc-now {
  font-weight: normal;
}
.rbc-date-cell a {
  padding: 5px;
}
.rbc-now a,
.rbc-now a:active,
.rbc-now a:visited {
  padding: 5px;
  border-radius: 50%;
  color: var(--today-color);
  background-color: var(--today-day-bg-color);
}
.rbc-show-more {
  margin-top: 5px;
  margin-left: 5px;
  color: black;
  text-decoration: none;
}
.rbc-overlay {
  font-family: 'Lato', sans-serif;
}
.rbc-event-content {
  position: relative;
  height: 100%;
}
.rbc-time-view .rbc-row {
  min-height: initial;
}
.rbc-today {
  background-color: var(--today-cell-bg-color);
}
.rbc-header.rbc-today {
  font-weight: normal;
  color: var(--today-color);
  background-color: var(--today-day-bg-color);
}